:root {
  --brown: #8b5a2b;
  --blue: #4a90e2;
  --beige: #f7f1e5;
  --black: #333333;
  --sky: #a3d5ff;
  --orange: #ffa15f;
  --green: #c2e59c;
}

* {
  box-sizing: border-box;
  color: var(--black);
}

body {
  margin: 0;
}
